<div class="message">
  <div class="left">
    <img src="https://cdn.discordapp.com/avatars/{{message.author.id}}/{{message.author.avatar}}.webp" alt="{{message.author.username}}'s avatar" class="avatar">
  </div>
  <div class="right">
    <div class="header">
      <div class="author" {{~#if data.name_color}} style="color: {{data.name_color}}"{{/if}}>{{message.author.username}}</div>
      <div class="timestamp">{{data.timestamp}}</div>
    </div>
    <div class="content">
      {{message.content}}
    </div>
  </div>
</div>
