<div class="message">
  <div class="left">
    <img src="https://cdn.discordapp.com/avatars/{{message.author.id}}/{{message.author.avatar}}.webp" alt="{{message.author.username}}'s avatar" class="avatar">
  </div>
  <div class="right">
    <div class="header">
      <div class="author" {{~#if data.name_color}} style="color: {{data.name_color}}"{{/if}}>{{message.author.username}}</div>
      <div class="timestamp" data-timestamp="{{data.raw_timestamp}}">{{data.timestamp}}</div>
    </div>
    {{~#if message.content}}
      <div class="content">
        {{{message.content}}}
      </div>
    {{/if}}
    {{~#each message.attachments}}
      {{>attachment attachment=this~}}
    {{/each~}}
    {{~#each message.embeds}}
      {{>embed/base embed=this~}}
    {{/each~}}
    {{~#if message.reactions~}}
      <div class="reactions">
        {{~#each message.reactions}}
          <div class="reaction">
            {{this.emoji.name}} <span class="count">{{this.count}}</span>
          </div>
        {{/each~}}
      </div>
    {{~/if}}
  </div>
</div>
